.banner {
	height: 400px;
	background-repeat: no-repeat;
    background-size: cover;
    &--home {
    	background-image: url("../i/home.jpeg");
    }
    &--about {
    	background-image: url("../i/about.jpeg");
    }
    &--angebot {
    	background-image: url("../i/offer.jpeg");
    }
    &--ref {
    	background-image: url("../i/reference.jpeg");
    }
    &--news {
    	background-image: url("../i/news.jpeg");
    }
}