body {
	color: $color-dark;
	font-family: $main-font, sans-serif;
	font-size: 19px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	
	@media(max-width: $tablet) {
		font-size: 22px!important;
	}
	@media(max-width: $mobile) {
		font-size: 24px!important;
	}
}
h1, h2, h3, h4 {
	color: $color-blue;
	font-family: $title-font, sans-serif;
	font-weight: 600;
}
h2 {
	@media(max-width: $tablet) {
		font-size: 1.7rem
	}
	@media(max-width: $mobile) {
		font-size: 1.6rem
	}
}
p {
	font-weight: 200;
}