.pagination__box {
	border-top: 1px solid $color-blue;
	padding-top: 50px;
	margin-top: 40px;
}
.pagination {
	
	& .page-item {
		margin: 0 2px;

		& .page-link {
			border-radius: 0;
			color: #ffffff;
			background: $color-blue;
			&.active {
				background: $color-orange; 
			}
			&:hover {
				background: $color-orange; 
			}
		}	
	}

}