.text-blue {
	color: $color-blue;	
}
.text-orange {
	color: $color-orange;	
}
.hover-orange:hover {
	color: $color-orange;
}
.text-dark {
	color: $color-dark;	
}
.text-white {
	color: #ffffff;
}
.text-small {
	font-size: 1em;
	font-weight: 300;
}
.text-small-2 {
	font-size: 1em;
	font-weight: 200;
}
.text-bold { 
	font-size: 1.1rem;
	font-weight: 400;
}
.title-page {
	font-size: 2.1rem;
}