//colors

$color-blue: #003883;
$color-orange: #f39b10;
$color-dark: #101010;

//fonts

$main-font: 'Libre Franklin';
$title-font: 'Frank Ruhl Libre';

//media

$desktop: 1200px;
$tablet: 992px;
$mobile: 481px;