@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;700&family=Libre+Franklin:wght@100;200;300;400;500;600&display=swap");
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1224px;
  }
}
body {
  color: #101010;
  font-family: "Libre Franklin", sans-serif;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@media (max-width: 992px) {
  body {
    font-size: 22px !important;
  }
}
@media (max-width: 481px) {
  body {
    font-size: 24px !important;
  }
}

h1, h2, h3, h4 {
  color: #003883;
  font-family: "Frank Ruhl Libre", sans-serif;
  font-weight: 600;
}

p {
  font-weight: 200;
}

.text-blue {
  color: #003883;
}

.text-orange {
  color: #f39b10;
}

.hover-orange:hover {
  color: #f39b10;
}

.text-dark {
  color: #101010;
}

.text-small {
  font-size: 1em;
  font-weight: 300;
}

.dropdown-hover {
  position: relative;
}

.dropdown-hover:hover .dropdown-menu {
  display: block;
}

.top-banner {
  background-image: url("../i/home.jpeg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav .nav-link {
  color: #101010;
  font-weight: 300;
}
.navbar-nav .nav-link:hover {
  color: #f39b10;
}

.nav-link .dropdown-menu:hover {
  color: #f39b10;
}

.dropdown-menu {
  border: none;
  border-bottom: 2px #003883 solid;
  border-radius: 0;
  left: -50%;
  top: 68%;
}
.dropdown-menu .dropdown-item {
  color: #101010;
  font-weight: 300;
  font-size: 0.9em;
}
.dropdown-menu .dropdown-item:hover {
  color: #f39b10 !important;
  background-color: #ffffff;
}

.footer {
  background-color: #003883;
  color: #ffffff;
}
.footer__copy {
  font-size: 0.9em;
  font-weight: 300;
}
.footer .nav-link {
  color: #ffffff;
  font-weight: 300;
  font-size: 0.85em;
}

.icon {
  width: 48px;
  height: 48px;
  display: block;
}
.icon.icon--chat {
  background: url("../i/chat.svg");
}
.icon.icon--books {
  background: url("../i/books.svg");
}
.icon.icon--marks {
  background: url("../i/marks.svg");
}
.icon.icon--arrow {
  background: url("../i/arrow.svg");
  height: 20px;
  width: 20px;
}

.competence__box {
  border-left: 1px solid #003883;
  padding: 0 43px;
  margin-bottom: 1.5em;
}
@media (max-width: 481px) {
  .competence__box {
    border-left: none;
  }
}
.competence__box:first-child {
  border-left: none;
  padding: 0 45px 0 0;
}
@media (max-width: 992px) {
  .competence__box:first-child {
    border-left: 1px solid #003883;
    padding: 0 43px;
  }
}
@media (max-width: 481px) {
  .competence__box:first-child {
    border-left: none;
  }
}

.info-box__img {
  width: 100%;
}

.btn-yellow {
  background-color: #f39b10;
  font-size: 19px;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 200;
  width: 212px;
  padding: 0.475rem 0.75rem 0.375rem;
  border: none;
}
.btn-yellow:hover {
  background-color: #003883;
}

.news {
  background-color: #f1eeea;
}
.news__item {
  background: #ffffff;
  display: block;
  text-decoration: none;
  color: #101010;
  font-weight: 200;
  height: 100%;
}
.news__item:hover {
  text-decoration: none;
  color: #101010;
}
.news__item .icon--arrow {
  transition: transform 1s;
}
.news__item:hover .icon--arrow {
  transform: translateX(40%);
}
.news__title {
  font-size: 1rem;
}
.news__date {
  font-size: 0.9rem;
}

/*# sourceMappingURL=style.css.map */
